/* src/components/Countdown/CountdownMobile.css */
.countdown-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-size: cover;
}

.cta-container-mobile {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/img/hist/cta.png');
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 10%;
  text-align: center;
}

.cta-container-mobile h2 {
  font-size: 1.5rem;
  font-family: 'amsiprocond-ultra';
  margin: 10px 0;
}

.comprar-button-mobile {
  background-color: #ff5e00;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 80%;
  cursor: pointer;
}

.counter-container-mobile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/img/hist/FUNDO-CONTAGEM.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 20px 0;
}

.countdown-item-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 60px;
  height: 100px;
}

.number-mobile {
  font-size: 2rem;
  font-weight: bold;
}

.label-mobile {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 5px;
}
