/* src/pages/CSS/Atracoes.css */
.atracoes {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.64); /* Semitransparente para escurecer a imagem */
  background-image: url('../../assets/img/hist/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken; /* Mistura o fundo com a cor */
  width: 100%;
  color: white;
  height: calc(100vh - 80px); /* Ajuste conforme necessário para o cabeçalho */
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

  .atracoes-content-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    color: white;
    font-size: 2.5rem;
    font-family: 'amsiprocond-ultra';
    margin-left: 100px;
  }

  .atracoes-content-title .title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    font-family: 'amsiprocond-ultra';
    margin-left: 100px;
  }

  .atracoes-content-title img {
    width: 10%;
  }
  
  .atracoes-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .atracoes-title h1 {
    font-size: 3rem;
    font-family: 'amsiprocond-ultra';
  }
  
  .atracoes-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 100px;

  }
  
  .atracao-text {
    flex: 1;
  }
  
  .atracao-item {
    margin-bottom: 20px;
  }
  
  .atracao-item h2 {
    font-size: 2rem;
    font-family: 'amsiprocond-ultra';
    margin-bottom: 10px;
  }
  
  .atracao-item p {
    font-size: 1.2rem;
  }
  
  .atracao-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .atracao-image-item {
    width: 550px;
    height: auto;
  }
  
  .atracao-image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .atracoes-content {
      flex-direction: column;
      align-items: center;
    }
  
    .atracao-text, .atracao-images {
      width: 100%;
    }
    
    .atracao-image-item {
      width: 100px;
      height: 100px;
    }
  
    .atracao-item h2 {
      font-size: 1.5rem;
    }
  
    .atracao-item p {
      font-size: 1rem;
    }
  }
  