* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  
  .cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
  
  .cadastro-titulo {
    text-shadow: none;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
  }
  
  .cadastro-form {
    width: 100%;
  }
  
  .cadastro-input-group {
    margin-bottom: 15px;
  }
  
  .cadastro-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .cadastro-date-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .cadastro-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .cadastro-input.dia,
  .cadastro-input.ano {
    width: 30%;
  }
  
  .cadastro-input.mes {
    width: 35%;
  }
  
  .cadastro-input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .cadastro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: chocolate;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .cadastro-button:hover {
    background-color: orange;
  }

  .hora {
    display: none;
  }
  